.row.mt
  .col-lg-12
    .content-panel
      %h4
        %i.fa.fa-angle-right
        Responsive Table
      %section#unseen
        %table.table.table-bordered.table-striped.table-condensed
          %thead
            %tr
              %th Code
              %th Company
              %th.numeric Price
              %th.numeric Change
              %th.numeric Change %
              %th.numeric Open
              %th.numeric High
              %th.numeric Low
              %th.numeric Volume
          %tbody
            -@stocks.each do |s|
              %tr
                %td=s.ticker
                %td=s.name 
                %td.numeric="$#{s.price}"
                %td.numeric=s.change_d 
                %td.numeric="#{s.change_p}%"
                %td.numeric="$#{s.open}"
                %td.numeric="$#{s.high}"
                %td.numeric="$#{s.low}"
                %td.numeric=s.volume 
    / /content-panel
  / /col-lg-4